---
http_interactions:
- request:
    method: get
    uri: https://api.humanapi.co/v1/human?access_token=token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"userId":"userID","createdAt":"2015-07-23T18:29:18.157Z","bloodGlucose":{},"bloodOxygen":{},"bloodPressure":{},"bmi":{},"bodyFat":{"id":"id","timestamp":"2015-08-14T00:00:00.000Z","source":"runkeeper","value":8.0559,"unit":"%"},"height":{},"heartRate":{},"weight":{"id":"id","timestamp":"2015-08-14T00:00:00.000Z","source":"runkeeper","value":62.483,"unit":"kg"},"activitySummary":{"id":"id","date":"","duration":7076,"distance":21167.628734835,"sedentary":0,"light":0,"moderate":0,"vigorous":0,"total":0,"steps":0,"calories":1436,"source":"runkeeper"},"sleepSummary":{},"humanId":"humanID"}'
  recorded_at: Tue, 01 Sep 2015 18:52:43 GMT
recorded_with: VCR 2.9.3
