---
http_interactions:
- request:
    method: get
    uri: https://api.humanapi.co/v1/human/profile?access_token=token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"userId":"userId","createdAt":"2015-07-23T18:29:18.157Z","email":"justin@humanapi.co","defaultTimeZone":{"name":"UTC"},"humanId":"humanID"}'
  recorded_at: Tue, 01 Sep 2015 18:36:33 GMT
recorded_with: VCR 2.9.3
