---
http_interactions:
- request:
    method: get
    uri: https://api.humanapi.co/v1/human/activities?access_token=token&limit=2&offset=51
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.humanapi.co/v1/human/activities?access_token=token&limit=2&offset=53>;
        rel="next",<https://api.humanapi.co/v1/human/activities?access_token=token&limit=2&offset=49>;
        rel="prev",<https://api.humanapi.co/v1/human/activities?access_token=token&limit=2&offset=234>;
        rel="last",<https://api.humanapi.co/v1/human/activities?access_token=token&limit=2&offset=0>;
        rel="first"
      X-Total-Count:
      - '234'
    body:
      encoding: UTF-8
      string: '[{"id":"55b1343cce048509007dfe1f","userId":"55b1327e7313370100c17161","startTime":"2015-06-19T08:54:00.000Z","endTime":"2015-06-19T09:24:01.000Z","tzOffset":"-06:00","type":"cycling","source":"runkeeper","duration":1801,"distance":10171.05408,"steps":0,"calories":296,"sourceData":{},"createdAt":"2015-07-23T18:36:44.461Z","updatedAt":"2015-07-23T18:36:44.461Z","humanId":"ef30511710618584fb02a34e5b5c1f7f"},{"id":"55b1343cce048509007dfe22","userId":"55b1327e7313370100c17161","startTime":"2015-06-18T09:51:14.000Z","endTime":"2015-06-18T10:23:14.000Z","tzOffset":"-06:00","type":"running","source":"runkeeper","duration":1920,"distance":6538.8163930769,"steps":0,"calories":463,"sourceData":{},"createdAt":"2015-07-23T18:36:44.468Z","updatedAt":"2015-07-23T18:36:44.468Z","humanId":"ef30511710618584fb02a34e5b5c1f7f"}]'
  recorded_at: Tue, 01 Sep 2015 19:24:37 GMT
recorded_with: VCR 2.9.3
