---
http_interactions:
- request:
    method: get
    uri: https://api.humanapi.co/v1/human/activities?access_token=token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"-1281148962"'
      Link:
      - <https://api.humanapi.co/v1/human/activities?access_token=token&offset=50>;
        rel="next",<https://api.humanapi.co/v1/human/activities?access_token=token&offset=200>;
        rel="last"
      X-Total-Count:
      - '234'
    body:
      encoding: UTF-8
      string: '[{"id":"55e37dd14a99f60b00f9ef96","userId":"55b1327e7313370100c17161","startTime":"2015-08-30T13:40:00.000Z","endTime":"2015-08-30T15:37:56.000Z","tzOffset":"-06:00","type":"running","source":"runkeeper","duration":7076,"distance":21167.628734835,"steps":0,"calories":1436,"sourceData":{},"createdAt":"2015-08-30T22:04:01.355Z","updatedAt":"2015-08-30T22:04:01.355Z","humanId":"ef30511710618584fb02a34e5b5c1f7f"},{"id":"55e37dd14a99f60b00f9ef9c","userId":"55b1327e7313370100c17161","startTime":"2015-08-29T17:42:00.000Z","endTime":"2015-08-29T18:12:26.000Z","tzOffset":"-06:00","type":"cycling","source":"runkeeper","duration":1826,"distance":10863.072,"steps":0,"calories":307,"sourceData":{},"createdAt":"2015-08-30T22:04:01.366Z","updatedAt":"2015-08-30T22:04:01.366Z","humanId":"ef30511710618584fb02a34e5b5c1f7f"},{"id":"55e37dd14a99f60b00f9efa2","userId":"55b1327e73133701[...]
